<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main_header">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="sign_in_btn" asp-action="Index" asp-controller="Home">@User.Identity.Name / </a>
            <a class="logout_btn" asp-action="Logout" asp-controller="Home">Выйти</a>
        }
        else
        {
            <a class="sign_in_btn" asp-action="Login" asp-controller="Home">Вход</a>
        }
        <div class="main_logo">
            <a asp-action="Index" asp-controller="Home"><img src="~/StaticFiles/INTC_LOGO.png" /></a>
        </div>
    </header>
    <main role="main" class="main_page">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
