.main_header {
    background: linear-gradient(92.42deg, #367AA5 0%, #4794C6 100%);
    padding: 10px 5px;
}

.main_header div {
    display: inline-block;
}

.main_logo {
    float: right;
    margin-right: 7px;
}

.main_schedule_btn {
    width: 87%;
    margin-top: 30px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(87.77deg, #367AA5 1.87%, #4794C6 110.82%);
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.practice_schedule_btn {
    width: 87%;
    margin-top: 19px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(87.77deg, #367AA5 1.87%, #4794C6 110.82%);
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.teachers_schedule_btn {
    width: 87%;
    margin-top: 19px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(87.77deg, #367AA5 1.87%, #4794C6 110.82%);
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.burger_menu {  
    background-color: transparent;
}

.hidden_schedule a {
    display: inline-block;
}

.hidden_practice_schedule a {
    display: inline-block;
}

.first_cource {
    width: 87%;
    border: 0px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(85.99deg, #4794C6 3.28%, #A9C7D8 123.63%);
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-top: 19px;
}

.first_cource:hover {
    color: #FAFAFA;
}

.second_cource {
    width: 87%;
    border: 0px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(85.99deg, #438BB9 3.28%, #9AB8CE 123.63%);
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-top: 19px;
}

.second_cource:hover {
    color: #FAFAFA;
}

.third_cource {
    width: 87%;
    border: 0px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(85.99deg, #367AA5 3.28%, #8DB5DA 123.63%);
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-top: 19px;
}

.third_cource:hover {
    color: #FAFAFA;
}

.fourth_cource {
    width: 87%;
    border: 0px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(85.99deg, #2E709B 3.28%, #7AA0BC 123.63%);
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin-top: 19px;
}

.fourth_cource:hover {
    color: #FAFAFA;
}

.group_btn {
    width: 70%;
    border: 0px;
    border-radius: 5px;
    color: #FAFAFA;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.back_to_main {
    position: fixed;
    bottom: 10px;
    left: 20px;
    color: #4794C6;
    font-size: 30px;
}

.group_list {
    background: linear-gradient(87.77deg, #4794C5 1.87%, #90BAD3 110.82%);
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
}

.group_list a {
    display: inline-block;
    text-decoration: none;
}

.group_list a:hover {
    color: #FAFAFA;
}

table {
    border: 1px solid;
    table-layout: fixed;
}

tr {
    border: 1px solid;
}

th {
    border: 1px solid;
}

.day_of_the_week {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 30px 0px;
}

.days {
    width: 1%;
}

.number {
    width: 1%;
}

.cabinet {
    width: 1%;
}

.schedule_table {
    margin-top: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    z-index: 99;
    font-size: 8px;
}

.group {
    width: 10%;
}

.teacher {
    width: 7%;
}

.subject {
    width: 3%;
}

.subject_number {
    width: 0.65%;
}

.cabinet_number {
    width: 1.8%;
}

.teacher_name {
    width: 2%;
}

.denominator {

}

.time {
    width: 1%;
}

.menu {
    width: 30%;
}

.sign_in_btn {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 20px;
    margin-left: 10px;
}

.sign_in_btn:hover {
    color: #FAFAFA;
}

.logout_btn {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 20px;
}

.logout_btn:hover {
    color: black;
}

.login_text {
    color: black;
}

.login_block {
    position: absolute;
    top: 30%;
    left: 40%;
}

.input_block {
    background-color: transparent;
    border: 2px solid #FAFAFA;
    width: 130%;
    color: black;
    padding: 4px 10px;
    border-radius: 5px;
    outline: none;
}

.input_block::-webkit-input-placeholder {
    color: black;
}

.login_input {
    position: absolute;
    top: 39%;
    left: 40%;
}

.pass_input {
    position: absolute;
    top: 48%;
    left: 40%;
}

.login_btn {
    position: absolute;
    top: 58%;
    left: 40%;
    padding: 5px 110px;
    background: linear-gradient(92.42deg, #367AA5 0%, #4794C6 100%);
    width: 20.8%;
    padding: 5px 5px;
    border: 0px;
    border-radius: 3px;
    color: black;
}

.validation {
    color: black;
    padding-top: 7px;
}

.fixed-button {
    z-index: 99;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: linear-gradient(92.42deg, #367AA5 0%, #4794C6 100%);
    color: #FAFAFA;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.fixed-button i {
    position: relative;
    top: 12px;
    left: 17px;
}

.fixed-button:hover {
    color: #FAFAFA;
}

.group_input {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 4px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    margin-left: 10px;
}

.group_input::-webkit-input-placeholder {
    color: black;
}


.save_group {
    background: linear-gradient(92.42deg, #367AA5 0%, #4794C6 100%);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #FAFAFA;
}

.mainModal {
    background: linear-gradient(92.42deg, #367AA5 0%, #4794C6 100%);
    color: #FAFAFA;
}

.close_modal {
    background-color: transparent;
    border: none;
}

.edit_group i{
    color: #FAFAFA;
    font-size: 20px;
}

.delete_group {
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.delete_group i {
    color: #FAFAFA;
    font-size: 20px;
}

.change_group {
    margin-right: 10px;
    float: right;
}

.delete_form {
    float: right;
}

.group_list div {
    display: inline;
}

.select_btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.select_btn div {
    display: inline-block;
}

.edit_schedule {
    padding: 10px 10px;
    background: linear-gradient(87.77deg, #4794C5 1.87%, #90BAD3 110.82%);
    text-decoration: none;
    color: #FAFAFA;
    border-radius: 5px;
    margin-right: 21px;
}

.check_schedule {
    padding: 10px 10px;
    background: linear-gradient(87.77deg, #4794C5 1.87%, #90BAD3 110.82%);
    text-decoration: none;
    color: #FAFAFA;
    border-radius: 5px;
    margin-right: 21px;
}

.schedule_input {
    width: 100%;
    text-align: center;
    font-size: 17px;
}

.numeratorCell {
    border-left: 2px solid; 
    border-right: 1px solid #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
    border-top: 1px solid #FAFAFA;
}

.delimiter {
    height: 100%;
}