<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeSchedule</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="main_buttons">
        <div class="main_schedule" align="center">
            <button class="main_schedule_btn" onclick="scheduleDropdown()" id="schedule_btn">
                Расписание пар
            </button>
        </div>

        <div class="hidden_schedule" align="center" style="display: none" id="hidden_main_schedule">
            <a class="first_cource" asp-action="GroupList" asp-controller="Home" asp-route-cource="1">1 курс</a>
            <a class="second_cource" asp-action="GroupList" asp-controller="Home" asp-route-cource="2">2 курс</a>
            <a class="third_cource" asp-action="GroupList" asp-controller="Home" asp-route-cource="3">3 курс</a>
            <a class="fourth_cource" asp-action="GroupList" asp-controller="Home" asp-route-cource="4">4 курс</a>
        </div>

        <div class="practice_schedule" align="center" id="practice_btn">
            <button class="practice_schedule_btn" onclick="practiceScheduleDropdown()" id="practice_schedule_btn"> 
                Расписание практик
            </button>
        </div>

        <div class="hidden_practice_schedule" align="center" style="display: none" id="hidden_practice_schedule">
            <a class="first_cource">1 курс</a>
            <a class="second_cource">2 курс</a>
            <a class="third_cource">3 курс</a>
            <a class="fourth_cource">4 курс</a>
        </div>

        <div class="teachers_schedule" align="center" id="teachers_schedule">
            <button class="teachers_schedule_btn">
                Расписание преподавателей
            </button>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
