@model CollegeSchedule.ViewModels.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css  />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="login_body">

    <div class="container">
        <div class="login_block">
            <h3 class="login_text" style="display: inline">Вход</h3>
            <div class="validation" style="float: right" asp-validation-summary="ModelOnly"></div>
        </div>
        <form asp-action="Login" asp-controller="Home" enctype="multipart/form-data" asp-antiforgery="true">
            <div class="login_input">
                <input class="input_block" type="text" placeholder="Логин" asp-for="userName" autocomplete="off" required />
            </div>
            <div class="pass_input">
                <input class="input_block" type="password" placeholder="Пароль" asp-for="password" autocomplete="off" required />
            </div>
            <div class="login_button_block">
                <button type="submit" class="login_btn">Войти</button>
            </div>
        </form>
    </div>
    

    <script src="~/js/jquery.min.js></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>