@model CollegeSchedule.Models.AllModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HZProject</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css      />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="content">
        <div class="container">
            @foreach(var item in Model.Schedules)
            {
                <input list="browsers_@item.Id" name="browser" id="browser" onchange="Test(@item.Id)" />
                <datalist id="browsers_@item.Id">
                    @foreach (var teacher in Model.Teachers)
                    {
                        <option data-value="@teacher.Id" value="@teacher.teacherFullName"></option>
                    }
                </datalist>
            }
        </div>
    </div>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script>
    function Test(Id) {
        console.log(Id);
        var value = $('#browser').val();
        alert($('#browsers_' + Id + ' [value="' + value + '"]').data('value'));
        console.log($('#browsers_' + Id + ' [value="' + value + '"]').data('value'));
    }
</script>
